<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="p-10">
    <a href="/">Bact to Home</a>
    <h1 class="text-3xl text-black p-5">Contact Details:</h1>
    <p class="text-xl text-red p-5">For Enquary</p>
    <p class="text-md text-black p-5">Phone NO :12345678  </p>
    <p  class="text-md text-black p-5">Mail :A@mail</p>
    
</body>
</html>