
.scrollbar-hide {
    scrollbar-width: none;
  }
  /* #price-filter {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 20px;
  } */
  

   .noUi-handle {
    width: 18px !important; 
    height: 12px !important; 
    border-radius: 50%; 
    background-color: #000; 
    border: 2px solid white; 
    box-shadow: none;
  } 

  .noUi-connect {
    background: #000;
    height: 4px;
  } 